@font-face{font-family:'BIG';src:url(../fonts/NHaasGroteskTXPro-75Bd.ttf) format('truetype')}

html {
	background-color: #fff;
}
body {
	font-size: 1em;
	color: #000;
	max-width: 80ch;
  	margin: auto;
  	padding-bottom: 10em;
} 
#main p {
	font-family: 'BIG';
	font-size: 3em;
	color: #000;
	margin:auto;
}

#post-nav a {
	float: right;
	margin-right: 5em;
	background-color: #fff;
	font-family:monospace;
	font-size: 1.2em;
	color: #000;
	margin-bottom: 3em;
}

#list-nav a {
	float: right;
	margin-right: 5em;
	background-color: #fff;
	font-family:monospace;
	font-size: 1.2em;
	color: #000;
	margin-bottom: 3em;
}

#post p {
	font-size: 0.78em;
	line-height: 1.7em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

#post img {
	width: 97%;
}

#post pre {
    max-height: 400px;
    overflow-y: scroll;
	overflow-x:scroll;
	background-color: inherit;
	border: 1px solid #CCC;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: .5em;
	margin-left: 1em;
	width: 90%;
}

#post code {
	font-family:'PT Mono', 'Monaco', 'Consolas', monospace;
	font-size: 0.7em;
	line-height: 1.5em;
}

#post h1 {
	margin-left: -0.5em;
	display:inline;
	background-color: #000;
	color: #fff;
	font-family: 'BIG';
	font-size: 1.8em;
}

#post h2, h3, h4 {
	display:inline;
	background-color: #000;
	color: #fff;
	font-family: 'BIG';
	padding-left: 0.9em;
}

#post blockquote {
	background-color: #f2e9e0;
	padding: 0.5em 1em 0.5em 1em;
}

#post a {
	color: #0000ff;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-decoration: none;
}

#post a:hover {
	color: #0000ff;
	text-decoration: underline;
}

.post-list .meta {
	font-family: monospace;
	font-size: 1em;
	display:flex;
	justify-content:flex-start;
	padding-top: .1em;
	padding-bottom: 1.5em;
}

#post #metap {
	margin-top: -0.5em;
	font-family: monospace;
}

.post-list a {
	color: #0000ff;
	font-family: monospace;
	text-decoration: none;
	font-size: 1.4em;
}

#about-page {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.78em;
	padding-left: 1em;
	padding-right: 1em;
}

#about-page h1 {
	font-family: 'BIG';
	display: inline;
	background-color: #000;
	color: #fff;
}

#about-page-button a {
	font-family: monospace;
	font-size: 1.2em;
	background-color: #fff;
	font-color: #000;
	margin-right: 5em;
	float: right;
}

#about-page-button a:visited {
	color: #000;
}


#main a {
	font-family: 'BIG', monospace;
	color: #000;
	text-decoration: none;
    background-position: 100% 0;
	background-color: #FD3F92;
	background-size: 200% 100%;
    transition: all .15s ease-in;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#main a:hover {
	background-position: 0 0;
	color: #fff;
}

section .wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

section {
	display: float;
	margin-right: 1em;
}


header, nav, section, article {
  	padding: .4em .6em;
}

