@font-face {
  font-family: Iosevka;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/iosevka-regular.woff2?#iefix) format('woff2'), url(../fonts/iosevka-regular.woff) format('woff'), url(../fonts/iosevka-regular.ttf) format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-weight: 600;
  font-style: bold;
  src: url(../fonts/iosevka-bold.woff2?#iefix) format('woff2'), url(../fonts/iosevka-bold.woff) format('woff'), url(../fonts/iosevka-bold.ttf) format('truetype');
} 

@font-face {
  font-family: Iosevka;
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/iosevka-italic.woff2?#iefix) format('woff2'), url(../fonts/iosevka-italic.woff) format('woff'), url(../fonts/iosevka-italic.ttf) format('truetype');
}
