@font-face {
  font-family: Inconsolata;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Inconsolata-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Inconsolata;
  font-weight: 600;
  font-style: bold;
  src: url(../fonts/Insonsolata-Bold.ttf) format('truetype');
} 
