/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

blockquote {
  background: #e5e5e5;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #fafafa;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  background-color: #e5e5e5;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    width: 100%;
    margin: 20px 5px;
}

pre  {
	background: #f4f4f4;
	overflow: scroll;
	border-left: 5px solid #44b9;
	font-size: 1em;
}

code {
	background: #f4f4f4;
	white-space: pre;
    font-family: Inconsolata, monospace;
	font-size: 0.9em;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h2,h3,h4,h5 {
    font-family: Inconsolata, monospace;
    margin-top: 12px;
    color: #22292d;
}

h4 { 
	font-size: 1em;
	font-family: Inconsolata, monospace;
    margin-top: 25px;
    color: #22292d;
}

#main,
#sidebar {
    position: absolute;
    top: 40px;
    background-color: #ffa821;
}
* {
    margin: 0;
	color: #22292d;
    padding: 0;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    font-stretch: normal;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    -webkit-font-smoothing: antialiased!important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    vertical-align: baseline;
    font-family: Inconsolata, monospace;
    background-color: #ffffff;
}

#main li {
	margin-top: 15px;
	color: #22292d;
	font-size: 0.9em;
	list-style-type: square;
}

#sidebar h2 {
    font-family: Inconsolata, monospace;
	color: #22292d;
}


#main {
    left: 230px;
	color: #2a3338;
    background-color: #ffffff;
    width: 500px;
}
#main h1 {
    margin-top: 0;
    padding-bottom: -1em;
    font-family: Inconsolata, monospace;
    font-size: 35px;
    font-weight: 400;
    line-height: 0.6em;
    letter-spacing: -1px;
    color: #ff0000;
}

#main p {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.4em;
    margin: 12px 0;
}

#main h1 a {
    color: #0000ff;
    text-decoration: none;
}

#main a {
	font-size:1.2em;
}

a {
	color: #0000ff;
	text-decoration: none;
	font-size: 1em;
}

a:hover {
	text-decoration: underline;
}

#sidebar {
    left: 30px;
    width: 140px;
    border-right: 1px solid #ccc;
    padding: 11px 15px 0 0;
    text-align: right;
	background-color: #ff9a32;
}

#sidebar a {
	color: #2a3338;
	background-color: #ff9a32;
}
#sidebar a:visited {
	color: #2a3338;
}

#sidebar p.subtitle {
	font-family: Inconsolata, monospace;
	margin-top: 0.3em;
	margin-left: 0em;
	margin-right: 0em;
	box-shadow: 5px 5px 0px 1px; 
	padding: 10px;
	font-size: 0.9em;
	color: #222222;
	background-color: #64f6e8;
}

#sidebar a:hover {
	color: #2a3338;
	text-decoration: underline;
}

#sidebar h1 {
	font-family: Inconsolata, monospace;
	margin-left: 2.7em;
	color: #2a3338;
	background-color: #ff9a32;
}

#sidebar h2 {
    margin-top: 1em;
    padding-top: 1.2em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 14px;
	background-color: #ff9a32;
}
#sidebar ul {
    list-style-type: none;
    margin: 10px 0;
	background-color: #ff9a32;
}

#sidebar li {
	background-color: #ff9a32;
}

#sidebar li.recents {
	margin-top: 10px;
	margin-bottom: 10px;
   	padding-left: 5em; 
    font-size: 12px;
    line-height: 1.2em;
}

#nav {
    display: none;
    margin-bottom: 20px;
}

#nav ul {
	margin-bottom: 10px;
}

#nav li {
    display: inline;
    margin-right: 7px;
}

#nav img.logo {
    width: 0px;
}

#sidebar a.license {
	font-size: 12px;
	color: #f4f4f4;
}

#sidebar img.license {
	margin-top: 10px;
	width: 50px;	
}

@media only screen and (max-width: 800px){
    #sidebar {
        left: 0;
        width: 190px;
        padding: 20px 12px 0 0;
    }

    #main {
        left: 15em;
        width: 450px;
    }
}


@media only screen and (max-width: 700px){
    #nav {
        display: initial;
    }

    #sidebar {
        display: none;
    }

    #main {
    	margin-top: -3em;
        left: 0.6em;
        width: calc(100% - 30px);
    }
}


.social {
	font-size: 0.7em;
    margin: 50px 0;
    padding-top: 1.5em;
    border-top: 1px dashed #aaa;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
}
a.changelog {
    color: #00f;
}
a.changelog:hover {
    color: #333;
}
.social div {
    flex-grow: 0.1;
    text-align: left;
}


img.logo {
	margin-right: -0em;
    width: 140px;
}

*:focus {
    outline: none;
}


.links {
    color: inherit;
    font-family: Helvetica, serif;
}


.links:hover {
    color: #00f;
}

.post-info {
    color: grey;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
