body {
  background: #ffffff;
  max-width: 85ch;
  margin: auto;
  margin-top: 12px;
  font-family: Iosevka;
  font-size: 0.9em;
}

@media screen and (max-width:600px) {
	body {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 1em;
	}

	.title {
		line-height: 25px;
	}
}

@media screen and (min-width:600px) {
	body {
		margin-left: 15px;
	}
}

/* links */
a { color: #746cce; text-decoration: none; }

a:visited { color: #746cce; text-decoration: none; }

a:hover { color: #222222; text-decoration: underline; }

/* blog post header */
.article-meta {
  line-height: 5px;
  font-size: 1em;
  padding: 1px 5px 5px 0px;
  text-align: left;
  font-family: Iosevka;
}

.title {
	font-size: 1.5em;
	font-family: Iosevka;
}

footer { 
	padding-bottom: 50px;
}

/* code */
pre {
  border-left: 3px solid #ddd;
  padding: 8px;
  overflow-x: scroll;
  font-family: Iosevka;
}

code {
  background: #f9f9f9; 
}

pre code { 
	background: none; 
	font-family: Iosevka;
}

/* misc elements */
img, iframe, video { max-width: 100%; }

main { 
	font-size: 0.8em;
	background-color: #ffffff;
	padding: 1em;
  	font-family: Iosevka;
}

main p {
	line-height: 1.4em;
	font-family: Helvetica, Verdana, sans-serif;
	max-width: 80ch;

}

blockquote {
  background: #f9f9f9;
  border-left: 4px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }
