html,
body {
  background: #fff;
  color: #2a2b21;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 0.9em;
  line-height: 1.6em;
}

#container {
  margin: auto;
}

#header {
  margin-top: 2em;
}

#site-title,
a:link,
a:active,
a:visited,
a:hover {
  color: #0a84ff;
}

#site-title {
    font-family: monospace;
  	padding-bottom: 1em;
	font-size: 1.5em;
	margin: 0em 0;
	float: right;
}

#site-title a:link,
#site-title a:active,
#site-title a:visited,
#site-title a:hover {
  text-decoration: none;
}

#footer {
    position: relative;
    height:40px;
    bottom: 0;
  color: #777;
}

#site-slogan {
  margin-top: .75em;
}

pre {
    font-family: monospace;
    background-color: #f8f8f8;
    width: 95%;
    font-size: 1.2em;
    line-height: 1.3em;
    overflow-x:scroll;
    padding: .6em;
}

nav {
  font-family: Helvetica;
  clear: both;
  margin-top: 0em;
  font-size: 1.2em;
}

nav ul {
  list-style-type: none;
}

nav ul.first {
	float: right;
}

nav ul.first > li {
 	display: block;
 	margin-bottom: .5em;
}

nav a:link,
nav a:active,
nav a:visited {
    text-decoration: none;
    color: #0a84ff;
}

nav a:hover {
    text-decoration: none;
    color: #4A525A;
}

#content,
hr {
}

#footer {
    color: #777;
}

#content {
  margin-top: 4em;
}

#article {
  margin-top: 4em;
}

#article img {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
      font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
}

h1 {
    line-height: 1.1em;
}

#article h2 {
        margin-bottom: -.5em;
    }

#article p, #article ol li, #article ul li {
  text-align: left;
}

#article blockquote {
  font-family: serif;
  font-style: italic;
  font-size: 1.05em;
  line-height: 1.5em;
}

#article dl dt {
    color: #000;
    text-decoration: underlined;
}

#article dl dt em {
  font-weight: normal;
}

#article a {
	text-decoration: none;
}

#article a:hover {
	text-decoration: underline;
}

#article .timestamp,
#article .tags,
#article .tags a:link,
#article .tags a:active,
#article .tags a:visited,
#article .tags a:hover {
  color: #555;
}

hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 2.5em 0;
}

span.upper {
  text-transform: uppercase;
}

img.right {
  float: right;
  margin: 0 0 1em 1em;
}

img.left {
  float: left;
  margin: 0 1em 1em 0;
}

#footer {
  clear: both;
  padding-top: 2em;
  font-size: 90%;
}

ul.pagination {
  padding: 0;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
}

.pagination .active a:link,
.pagination .active a:active,
.pagination .active a:visited,
.pagination .active a:hover,
.pagination .disabled a:link,
.pagination .disabled a:active,
.pagination .disabled a:visited,
.pagination .disabled a:hover {
  color: #555;
  text-decoration: none;
}

@media (min-width: 750px) {
  #container {
      margin-left: 10em;
    width: 800px;
  }

  nav ul li a {
    display: block;
    font-size: 90%;
  }

  nav ul.first > li {
    padding-right: 1.25em;
  }

  nav ul.second,
  nav ul.third {
    position: absolute;
    background: #fff;
    width: 212px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
  }

  nav ul.second {
    z-index: 2;
  }

  nav ul.third {
    z-index: 3;
  }

  nav ul.second li {
    position: relative;
  }

  nav ul.third {
    left: 212px;
    top: -1px;
  }

  nav ul.first li:hover ul.second,
  nav ul.second li:hover ul.third {
    display: block;
  }

  nav ul.second li a,
  nav ul.third li a {
    padding: 0.75em 1em;
  }

  #article {
    width: 576px;
    position: relative;
  }

  #summary {
    display: block;
    position: absolute;
    top: 0px;
    left: 608px;
    width: 342px;
  }

  #site-title {
  	  margin-right: 1em;
  }
}
