@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans+Condensed|IBM+Plex+Serif');

/* Page */

body {
  font-size: 0.86em;
  line-height: 1.4em;
  width: 900px;
}

a[href] {
	color: #0000ff;
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
	font-family: monospace;
	font-size:1.2em;
	max-height: 600px;
	padding-bottom: 1em; padding-top: 1em;
	line-height: 1.5em;
    overflow-y: scroll;
	overflow-x:scroll;
	background-color: #fafafa;
	margin-left: 1em;
	width: 90%;
}

h1, h2, h3, h4 {
	font-family: 'IBM Plex sans Condensed';
  color: #666666;
}

img {
  max-width: 100%;
}

blockquote {
  background-color: #F0F2F5;
  color: #999999;
  padding: 5px;
}

blockquote p {
  font-style: italic;
  padding: 0 10px;
}

blockquote p:last-child {
  font-style: normal;
  padding-left: 30px;

}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.content {
	flex: 1;
	padding-left: 2em;
}

/* Header */

header {
  padding: 20px 0 0 0;
}

header h1 {
	font-family: 'IBM Plex Serif';
	text-align: left;
	font-size: 1.3em;
	color: #5B636E;
	display: inline;
}

article > ul > li {
  font-size: 1em;
  color: #5B636E;
}

/* Navigation */
nav {
	height: 100%;
	background-color: #f4f4f4;
	padding: 10px;
	position: fixed;
    z-index: 1;
    top: 2em;
    left: 2%;
	font-size: 1em;
	margin: 1em auto;
}

nav a {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1.7em;
	text-transform: uppercase;
	
}

nav ul {
	font-size: 1em;
	border-top: 2px solid black;
}

nav ul > li {
  display: block;
  float: right;
  clear: right;
  font-size: 1em;
  font-weight: normal;
  padding-top: .7em;
}

nav li a {
	font-size: 0.9em;
	font-family: 'IBM Plex Mono', monospace;
	text-transform: uppercase;
	line-height: 1em;

}

nav p {
	width: 90px;
	line-height: 1em;
	word-wrap: break-word;
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
	font-family: monospace;
}

.pagination {
  text-align: center;
  margin: 30px auto;
}

.pagination span {
  color: #dddddd;
}

/* Articles */

.post, .page, .post-groups {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.85em;
  margin: 40px auto;
  max-width: 80ch;
}

.post h1 {
	font-size: 2em;
}

.post > p {
  margin: 20px auto;
}

.post h2 {
  margin: 0;
}

article a.continue {
	font-family: monospace;
	display: inline;
	margin: 0 auto;
}

article.photo {
  border-radius: 5px;
  margin: 40px auto;
  max-width: 780px;
  overflow: hidden;
  height: 300px;
}

article.photo a {
  color: #ffffff;
  display: block;
  overflow: hidden;
}

article .postmeta {
	color: #999999;
	margin: 1em auto;
	padding: 0 0 6px 0;
}

.post-group {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.post-group-item {
  flex: auto;
  width: 40%;
  margin: 5px;
  font-size: 1em;
  color: #999999;
}

.post-group-item:hover {
  background-color: #f6f6f6;
}

.post-group-item h3 {
  color: #999999;
  font-size: 1em;
  margin: 0;
  padding: 6px 0 0 6px;
  font-weight: normal;
}

.post-group-item ul {
	line-height: 2.5em;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 6px;
}

/* Footer */

footer {
  color: black;
  margin: 0;
}

.footer_text {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 720px;
}

.footer_text h3 {
  color: #cccccc;
}

.footer_text a {
  color: #cccccc;
}

.footer_text > div {
  flex: 1;
  margin: 10px;
}

.footer_copyright {
  color: #999999;
  font: 8px "Avenir Next", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 10px 0;
  text-align: center;
}

.footer_copyright a {
  color: #cccccc;
}

@media screen
and (max-width: 780px) {

	body {
		width: 90%;
	}
	
  .footer_text {
    width: 100%;
  }

  .footer_text > div {
    flex: auto;
    width: 100%;
    text-align: justify;
  }

  article {
      margin: 1em auto;
	  padding-left: 2em;
  }
  main {
	  padding-top: 100px;
	  font-size: 1.2em;
  }

  header {
    padding: 1em;
  }

nav p {
	width: 93%;
	line-height: 1em;
	word-wrap: break-word;
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
	font-family: monospace;
}


  header h1 {
    font-size: 1.5em;
    text-align: center;
	 display:inline;
	  padding:2em;
	  margin: 2em;
  }

  heading h1 {
	  display:inline;
	  padding:2em;
	  margin: 2em;
  }
  
  nav {
	height: 100px;
	width: 93%;
	display:inline;
	font-size: 1.2em;
	padding: 2em auto;
	position: absolute;
	top: 1em;
  }

  nav ul {
	border: 0;
	display:inline;
    margin: 0;
  }

  nav ul > li {
    display: inline;
    float: none;
    margin: 2em;
    padding: 10px;
  }

}
