html {
    background: white;
    color: black;
}

body {
    display: overflow;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
}


.container {
    font-size: 300%;
    font-family: Consolas, Liberation Mono, 'DejaVu Sans Mono', 'SF Mono', Menlo, Monaco;
    border-bottom: 3px solid black;
    position: relative;
    display:inline-block;
}

.title {
    position: absolute;    
    height: 100%;
    text-align: left;
    width: 100%;
}

.title:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: bottom;
   
}

h3 {
   display: inline-block;
   color: #0000FF;
   background-color: #fff;
}

.subtitle {

   display: inline-block;
   font-size: .5em;
   color: #0000FF;
   background-color: #fff;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.start {
    justify-content:left;    
    position: relative;
    margin-left: 15px;
 }
 
 
.art {
    line-height: .9em;
    width: 100%;
}

.about {
    max-width: 95%;
    width: 600px;
    font-family: serif, Arial;
    font-size: 1em;
    line-height: 1.3em;
      text-align: justify;
  text-justify: inter-word;
}


#links {
    align-items: left;
    justify-content: left;
}



#links a {
    color: #367588;
    text-decoration: none;
    margin-left: 5px;
    padding-left: 10px;
    font-family: 'Cascadia Code', Consolas, Liberation Mono, 'DejaVu Sans Mono', 'SF Mono', Menlo, Monaco;
    font-size: .9em;
    font-weight: bold;
}

#links a:hover {
    text-decoration: underline;
}

#links ul {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 20%;
}

#links ul > li {
    display: inline-block;
}
